<app-navbar></app-navbar>

<div class="row login-container m-2">
  <div class="col-lg-4 my-5" *ngFor="let item of cameras">
    <div class="card">
      <img class="card-img-top" [src]="item.img" alt="Bologna">
      <div class="card-body">
        <p class="card-text">{{item.id}}</p>
        <p [ngClass]="{'text-success': item.status, 'text-danger': !item.status}">
          {{
            (item.status ? 'cameras.pass': 'cameras.fail') | translate
          }}
        </p>
      </div>
    </div>
  </div>
</div>